# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically by Terraform Cloud
*.auto.tfvars

# Include override files you do wish to add to version control using negated pattern
!override.tf.example

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*
